<div class="container">
	<div class="row">
		{% for asset in page.assets -%}
			{%- if not asset is matching("[.](jpg|png)$") -%}
				{%- continue -%}
			{%- endif %}

			{%- set info_key = asset | split(pat="/") | last | split(pat=".") | first -%}

			{%- if tags is defined -%}
				{%- if not page.extra.assets[info_key].tags -%}
					{%- continue -%}
				{%- endif -%}

				{%- set_global tag_match = false -%}
				{%- for tag in tags -%}
					{%- if page.extra.assets[info_key].tags is containing(tag) -%}
						{%- set_global tag_match = true -%}
						{%- break -%}
					{%- endif -%}
				{%- endfor -%}

				{%- if not tag_match -%}
					{%- continue -%}
				{%- endif -%}
			{%- endif -%}


			{%- set thumb = resize_image(path=asset, width=200, height=200) -%}
			{%- if max_size -%}
				{%- set image = resize_image(path=asset, width=max_size, height=max_size, op="fit") -%}
				{%- set asset_url = image.url -%}
			{%- else -%}
				{%- set asset_url = get_url(path=asset) -%}
			{%- endif -%}

			<div class="col-6  col-md-4 col-xl-3">
				<div class="card mb-4 box-shadow">
					<a href="{{ asset_url }}"><img class="card-img-top" src="{{ thumb.url }}" alt="{{ page.extra.assets[info_key].alt | default(value='') }}"></a>
					<div class="card-body">
						{% if page.extra.assets[info_key].title is defined -%}
							<h4 class="card-title">{{ page.extra.assets[info_key].title | markdown(inline=true) | safe }}</h4>
						{%- endif %}
						{% if page.extra.assets[info_key].description is defined -%}
							<div class="card-text">
								{{- page.extra.assets[info_key].description | markdown | safe -}}
							</div>
						{%- endif %}
					</div>
					{% if page.extra.assets[info_key].date is defined or page.extra.assets[info_key].tags is defined -%}
						<div class="card-footer text-body-secondary d-flex justify-content-between">
							{#
							{% if page.extra.assets[info_key].tags is defined -%}
								<div class="tags">
									{%- for tag in page.extra.assets[info_key].tags -%}
										<span class="badge rounded-pill text-bg-info">{{ tag }}</span>
										{{- ' ' -}}
									{%- endfor -%}
								</div>
							{%- endif %}
							#}
							{% if page.extra.assets[info_key].date -%}
								<small>{{ page.extra.assets[info_key].date }}</small>
							{%- endif %}
						</div>
					{%- endif %}
				</div>
			</div>
		{%- endfor %}
	</div>
</div>
